#contribute-widget h1, #contribute-widget p{
    align-self: flex-end;
    margin: 20px 0;
    font-weight: 900;
    text-align: center;
}

#contribute-widget .content-columns {
    display: flex;
    align-items: center;
    justify-content: center;
    margin: 70px -15px;
    text-align: center;
}

#contribute-widget .content-columns a{
    display: block;
    padding: 25px;
    text-decoration: none;
}

#contribute-widget .content-columns a:hover{
    background: #B9B9B9;
    border-radius: 5px;
    color: #fff;
}

#contribute-widget .content-columns a:hover svg path,
#contribute-widget .content-columns a:hover svg polygon,
#contribute-widget .content-columns a:hover svg circle{
    fill: #fff;
}
